{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Обзор
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/overview.css' %}">
{% endblock %}

{% block stations-overview %}
    <a href="" class="active">Станции</a> <!-- выделенная вкладка в сайдбаре  -->
{% endblock %}

{% block topline %}
<div>
    <h6>Станции</h6> <!-- заголовок в верхнем блоке  -->
</div>
{% endblock %}

{% block content %}

<div>
{% for company in companies %}
    <div class="mt-2">
        <h5 style="margin-bottom: 15px;">{{ company.name }}</h5>
        {% for station in company.station_list %}
        <div class="card" style="width: 20rem; display: inline-block; margin-right: 15px; margin-bottom: 15px">
            <img src="{{ station.image.url }}" class="card-img-top" alt="" height="200">
            <div class="card-body">
                <h6 class="card-title">{{ station }}</h6>
                <p class="card-text" style="font-size: 12px">
                    {{ station.address }}
                </p>
            </div>
            <div class="card-body text-end">
                <a href="" class="card-link" style="font-size:12px;">Перейти к станции</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="border-bottom"></div>
{% endfor %}
</div>


{% endblock %}