{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Обзор
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stations/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/tab.css' %}">
    <link rel="stylesheet" href="{% static 'stations/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'stations/css/tabcontent.css' %}">
{% endblock %}

{% block stations-overview %}
    <a href="{% url 'stations_overview' %}" class="active">Станции</a> <!-- выделенная вкладка в сайдбаре  -->
{% endblock %}

{% block topline %}
<div>
    <h6>{{ station.name }}</h6> <!-- заголовок в верхнем блоке  -->
</div>
{% endblock %}

{% block controls %}
{% if user.is_superuser %}
<div class="controls">
<h6>Действия</h6>
<a href="{% url 'station_edit' station_id=station.pk %}"><i class="fa-regular fa-pen-to-square"></i></a>
<a href="{% url 'station_delete' station_id=station.pk %}"><i class="fa-regular fa-trash-can"></i></a>
</div>
{% endif %}
{% endblock %}


{% block content %}

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'general')" id="defaultOpen">Общая информация</button>
    <button class="tablinks" onclick="openTab(event, 'units')" id="">Оборудование</button>
    <button class="tablinks" onclick="openTab(event, 'events')" id="">События</button>
    <button class="tablinks" onclick="openTab(event, 'contacts')" id="">Контактная информация</button>
</div>

<div id="general" class="tabcontent"">
    <h4>Общая информация</h4>
    <a>Местонахождение: {{ station.address }}</a>
</div>

<div id="units" class="tabcontent">
    <h4>Список установок</h4>
    {% if units %}
    {% for unit in units %}

    <div class="card">
    <div class="card-body">
        <div style="display: inline-block; width: 80%; cursor: pointer;"
        onclick="location.href='{% url 'unit_detail' station_id=unit.station.id unit_id=unit.id %}'">
            <p class="card-text">{{ unit.name }}</p>
        </div>
        <div style="display: inline-block; margin-right: 1.2rem; width: 5%; float: right; vertical-align: top;">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'unit_detail' station_id=unit.station.id unit_id=unit.id %}">Перейти</a></li>
            {% if user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'unit_edit' station_id=unit.station.id unit_id=unit.id%}">Редактировать</a></li>
                <li><a class="dropdown-item" href="{% url 'unit_delete' station_id=unit.station.id unit_id=unit.id%}">Удалить</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
    </div>

    {% endfor %}
    {% else %}
        <h6>Установок нет</h6>
    {% endif %}
    <br>

    {% if user.is_superuser %}
    <div class="controls" style="padding: 0">
    <a href="{% url 'unit_add' station_id=station.pk %}"><i class="fa-solid fa-plus"></i></a>
    </div>
    {% endif %}
</div>

<div id="events" class="tabcontent"">
    <h4>События</h4>
    {% for unit in units %}
    <h6>{{ unit }}</h6>
    {% for event in events %}
    {% if event.unit == unit %}
    <div class="card">
    <div class="card-body">
        <div style="display: inline-block; width: 80%; cursor: pointer;"
        onclick="location.href='{% url 'event_detail' event.id %}'">
            <p class="card-text">{{ event }}</p>
        </div>
        <div style="display: inline-block; margin-right: 1.2rem; width: 5%; float: right; vertical-align: top;">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'event_detail' event.id %}">Перейти</a></li>
            {% if user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'event_edit' event.id %}">Редактировать</a></li>
                <li><a class="dropdown-item" href="{% url 'event_delete' event.id %}">Удалить</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
    </div>
    {% endif %}


    {% endfor %}
    {% endfor %}
    {% if user.is_superuser %}
    <div class="controls" style="padding: 0">
    <a href="{% url 'event_add' %}"><i class="fa-solid fa-plus"></i></a>
    </div>
    {% endif %}
</div>

<div id="contacts" class="tabcontent">
    <h4>Список контактов</h4>
</div>

<script></script>
<script src="{% static 'js/openTab.js' %}"></script>


{% endblock %}