{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Обзор
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'stations/css/card.css' %}">
{% endblock %}

{% block stations-overview %}
    <a href="{% url 'stations_overview' %}" class="active">Станции</a> <!-- выделенная вкладка в сайдбаре  -->
{% endblock %}

{% block topline %}
    <h6>Станции</h6> <!-- заголовок в верхнем блоке  -->
{% endblock %}

{% block controls %}
{% if user.is_superuser %}
<div class="controls">
<h6>Действия</h6>
<a href="{% url 'station_add' %}"><i class="fa-solid fa-plus"></i></a>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% for company in companies %}
<h5 style="margin: 1rem 0;">Cтанции {{ company.name }}</h5>
{% for station in company.station_list %}
<div class="card">
    {% if station.image_url %}
    <img src="{{ station.image_url }}" class="card-img-top" alt="" height="150"
    onclick="location.href='{% url 'station_detail' station_id=station.id %}'">
    {% else %}
    <img src="" class="card-img-top" alt="" height="150"
    onclick="location.href='{% url 'station_detail' station_id=station.id %}'">
    {% endif %}
    <div class="card-body" style="height: 10rem">
        <div style="display: inline-block; width: 80%">
            <h6 class="card-title"
    onclick="location.href='{% url 'station_detail' station_id=station.id %}'">{{ station.name }}</h6>
            <p class="card-text">
            Местонахождение: {{ station.address }}
            </p>
        </div>
        <div style="display: inline-block; margin-right: 1.2rem; width: 5%; float: right; vertical-align: top;">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'station_detail' station_id=station.id %}">Перейти</a></li>
            {% if user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'station_edit' station_id=station.id %}">Редактировать</a></li>
                <li><a class="dropdown-item" href="{% url 'station_delete' station_id=station.id %}">Удалить</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
<div class="border-bottom"></div>
{% endfor %}
{% endblock %}