{% extends 'layout.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
    Удаление
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/overview.css' %}">
    <link rel="stylesheet" href="{% static 'stations/css/forms.css' %}">
{% endblock %}

{% block units-overview %}
    <a href="{% url 'units_overview' %}" class="active">Оборудование</a> <!-- выделенная вкладка в сайдбаре  -->
{% endblock %}

{% block topline %}
<div>
    <h6>Удаление</h6> <!-- заголовок в верхнем блоке  -->
</div>
{% endblock %}

{% block content %}

<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <br>
    <h5>Вы действительно хотите удалить оборудование "{{ unit.short_name }}"?</h5>
    <br>
    <div class="btn-group">
    <input type=button class="btn btn-secondary" value="Назад" onClick="javascript:history.go(-1);">
    <input type="submit" class="btn btn-danger" value="Удалить">
    </div>
</form>


{% endblock %}