{% load static %}
{% load django_bootstrap5 %}
<html lang="ru">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <script src="https://kit.fontawesome.com/fd66d59a34.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>

<div class="sidenav">
    <div class="logo">
    <img src="{% static 'img/logo1.jpg' %}" class="" alt="" height="50">
    </div>
    <div class="sidenav-items">
        <title>Главное</title>
        {% block nav-overview %}<a href="{% url 'overview' %}">Обзор</a>{% endblock %}
        {% block nav-chart %}<a href="{% url 'event_chart' %}">График инспекций</a>{% endblock %}
    </div>
    <div class="sidenav-items">
        <title>Объекты</title>
        {% block stations-overview %}
        <a href="{% url 'stations_overview' %}">Станции</a> <!-- выделенная вкладка в сайдбаре  -->
        {% endblock %}
        {% block units-overview %}
        <a href="{% url 'units_overview' %}">Оборудование</a> <!-- выделенная вкладка в сайдбаре  -->
        {% endblock %}
    </div>
    <div class="sidenav-items">
        <title>Реестры (пример)</title>
        <a href="">Договоры</a> <!-- выделенная вкладка в сайдбаре  -->
        <a href="">Отчеты</a>
    </div>
    <div class="sidenav-auth">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Войти</a>
        {% else %}
        <username>@{{ user.username }}</username>
        <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </div>
</div>

<div class="main">
    <div class="topline">
    {% block topline %}
    {% endblock %}
    </div>
    {% block controls %}
    {% endblock %}
    <div class="content">
    {% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endblock %}
    </div>
</div>

</body>
</html>